<script data-main="js/leads.main" src="js/lib/require.js?time=<?= time() ?>"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div id="alerts_container" class="admin-overall-alerts-container"></div>

<div class="admin-section">

    <div class="row">
        <div class="col-sm-12">

            <h2>Deal Log</h2>

            <div class="panel panel-success">
                <div class="panel-heading">Search terms</div>
                <div class="panel-body">
                    <form id="search_form">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="search_deal_number">Deal Number</label>
                                            <input type='text' class="form-control" name="search_deal_number" data-bind="value: searchDealNumber" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="search_vin">VIN</label>
                                            <input type='text' class="form-control" name="search_vin" data-bind="value: searchVin" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="search_vehicle_year">Vehicle Year</label>
                                    <select class="form-control" id="search_vehicle_year" name="search_vehicle_year"
                                            data-bind="value: searchVehicleYear, event: { change: vehicleYearOnSelect }">
                                        <option value="">- Select -</option>
                                        <?php foreach ($vehicleYears as $year): ?>
                                            <option value="<?= $year ?>"><?= $year ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="search_vehicle_make">Vehicle Make</label>
                                    <select class="form-control" id="search_vehicle_make" name="search_vehicle_make"
                                        data-bind="value: searchVehicleMake, event: { change: vehicleMakeOnSelect }">
                                        <option value="">- Select -</option>
                                        <?php foreach ($vehicleMakes as $make): ?>
                                            <option value="<?= $make->id ?>"><?= $make->name ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="search_vehicle_model">Vehicle Model</label>
                                    <select class="form-control" id="search_vehicle_model" name="search_vehicle_model"
                                            data-bind="options: vehicleModels,
                                                    value: searchVehicleModel,
                                                    optionsValue: 'id',
                                                    optionsText: 'name',
                                                    optionsCaption: '- Select -'">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search_date_from">From</label>
                                    <div class='input-group'>
                                        <input type='text' class="form-control date-input-field" name="search_date_from" data-bind="value: searchFromDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search_date_to">To</label>
                                    <div class='input-group'>
                                        <input type='text' class="form-control date-input-field" name="search_date_to" data-bind="value: searchToDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="admin-search-submit-button-container">
                                    <button type="submit" class="btn btn-success btn-lg btn-block"
                                        data-bind="click: searchOnClick, disable: isLoadingRequest">Search</button>
                                    <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                                        <img src="img/loading_small.gif" alt="Loading...">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <table class="table table-responsive table-striped" data-bind="visible: transactions">
                <thead>
                    <tr>
                        <th>Deal Number</th>
                        <th>Deal Date</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>VIN</th>
                        <th>Keys</th>
                        <th>Wheels</th>
                        <th>Doors</th>
                        <th>Title #</th>
                        <th>Has Title</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: transactions">
                    <tr>
                        <td data-bind="text: inspectionId"></td>
                        <td data-bind="text: date"></td>
                        <td data-bind="text: vehicleYear"></td>
                        <td data-bind="text: vehicleMake"></td>
                        <td data-bind="text: vehicleModel"></td>
                        <td data-bind="text: vehicleColor"></td>
                        <td data-bind="text: vehicleVin"></td>
                        <td data-bind="text: vehicleKeysLocation"></td>
                        <td data-bind="text: vehicleWheels"></td>
                        <td data-bind="text: vehicleDoors"></td>
                        <td data-bind="text: vehicleTitleNumber"></td>
                        <td data-bind="text: vehicleHasTitle"></td>
                    </tr>
                </tbody>
            </table>

            <div data-bind="visible: transactions">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-5">Page Size</label>
                            <div class="col-sm-7">
                                <select id="page_size" name="page_size"
                                    class="form-control" data-bind="value: pageSize, options: pageSizes, event: { change: pageSizeOnSelect }">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button id="prev_page" class="btn btn-success" data-bind="click: showPreviousPage, disable: isLoadingRequest">Prev</button>
                        <span class="label label-success more-pages-down" data-bind="visible: morePagesDown">...</span>
                        <ul class="list-inline admin-pages" data-bind="foreach: dataPagesToShow">
                            <li class="list-inline-item">
                                <button id="show_page" class="btn btn-success"
                                    data-bind="value: $data, text: $data, click: $parent.showPage, disable: $parent.isLoadingRequest,
                                                css: { active: $parent.pageIndex() == $data }"></button>
                            </li>
                        </ul>
                        <span class="label label-success more-pages-up" data-bind="visible: morePagesUp">...</span>
                        <button id="next_page" class="btn btn-success" data-bind="click: showNextPage, disable: isLoadingRequest">Next</button>

                        <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                            <img src="img/loading_small.gif" alt="Loading...">
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>