<?php $user = $this->identity() ?>

<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Developed in <?= date('Y') ?> by Superlative Labs -->
        <?= $this->headTitle('Core Support Deal Log')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/png', 'href' => $this->basePath() . '/img/favicon.png'])
            ->prependStylesheet($this->basePath('css/style.css'))
            // ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-datepicker3.standalone.css'))
        ?>

        <!-- Scripts -->
        <!-- Lets leave the loading of scripts to Require.js -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/lib/bootstrap.js'))
            ->prependFile($this->basePath('js/lib/jquery.js'))
        ?>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top navbar-no-margin" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?= $this->url('home') ?>">
                        <img src="<?= $this->basePath('img/csar-logo.png') ?>" height="28" alt="Core Support Automotive Recycling"/>
                        <span class="app-title hidden-xs hidden-sm hidden-md">Deal Log</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">

                     <ul class="nav navbar-nav navbar-right">
                        <?php if ($user): ?>
                            <li><a href="<?= $this->url('logout') ?>"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <?php else: ?>
                            <li><a href="<?= $this->url('login') ?>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <?php endif; ?>
                    </ul>

                    <?php if ($user): ?>
                        <p class="navbar-text navbar-right">Hello <strong><?= $user->firstName ?> <?= $user->lastName ?></strong></p>
                    <?php endif; ?>

                </div>
            </div>
        </nav>
        <div class="container content">
            <?= $this->content ?>
            <hr>
            <!-- <footer>
                <p>&copy; <?= date('Y') ?> by Superlative Labs</p>
            </footer> -->
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
